 .loginfrm{
     background-color: rgba(50,74,81,.9);
     color: #fb937d;
     font-weight: 500;
      width: 70%;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
    
    
   @media screen and ( max-width: 1200px) {
      
     .loginfrm{
       width: 52%
   }
      
    } -->
    
     @media screen and ( max-width: 70px) {
      
      .loginfrm{
          width: 90%
      }
      
    }