

<div class="loginbx mt-5 text-center container ps-5 pe-5 ">
    <form class="container p-5 loginfrm ">
        <h3 class="lgh text-center pb-3">Account Register</h3>

        <input [(ngModel)]="accno" type="text" id="ac1" name="uname" class="form-control p-2 mt-3 pb-1" placeholder="Account Number : ">
        <input [(ngModel)]="uname" type="text" id="u1" name="uname" class="form-control p-2 mt-3 pb-1" placeholder="Username : ">
        <input [(ngModel)]="psw" type="password" id="p1" name="password" class="form-control p-2 pt-0 mt-3" placeholder="Password : ">


            <button (click)="register()"  class="btn loginbtn ps-4 pe-4 mt-4 text-center ">Register</button><br>
   
 
    </form>
</div>